<div class="gg-event-media">
  <figure>
    <a href="{{ path('entity.node.canonical', {'node': node.nid.value}) }}">
      {% if node.field_gg_file is not empty %}
        <img src="{{ file_url(node.field_gg_file.entity.uri.value) }}"/>
      {% endif %}
    </a>

    <figcaption>
      <span class="title">{{ node.title.value }}</span>
    </figcaption>
  </figure>
</div>
