@import 'compass/css3';

img {
	max-width: 100%;
}

.gg-event .media .item {
	@include box-sizing(border-box);

	display: inline-block;
	width: 25%;
	padding: 1em;

	vertical-align: top;

	figure {
		margin: 0;
	}

	@media (max-width: 600px) {
		width: 50%;
	}
}
