@import 'compass/css3';
@import '_itk-boxlist.scss';

img, video {
	max-width: 100%;
}

.gg-event .view-gg-event-media .view-content > div {
	@include box-sizing(border-box);

	display: inline-block;
	width: 25%;
	padding: 1em;

	vertical-align: top;

	figure {
		margin: 0;
	}

	img, video {
		display: block;
		margin: 0 auto;
	}

	@media (max-width: 600px) {
		width: 50%;
	}
}

.gg-event {
  float: left;
}

.gg-event-content, .gg-event-media {
  width: 49%;
  margin-left: 1%;
  float: left;
}

.gg-event-qr {
  figure {
    margin: 0;
    padding: 0;
  }
}

#block-brilleappen-theme-login {
  float: left;
}

.gg-menu li {

}

/* Menus
   ========================================================================== */

.gg-menu {
  margin: 0;
  padding: 0;

  li {
    float: left;
    list-style: none;
    margin: 0 2em 2em 0;
  }

  a {
    color: black;
    font-size: 1.5em;
    padding-bottom: 0.2em;

    &.is-active, &:active, &:hover, &:focus {
      text-decoration: none;
      border-bottom: 2px solid black;
    }
  }
}


.geolocation-common-map-container {
  height: 600px;
  width: 100%;
  display: none;
}